*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid black;
    align-items: center;
}
.navbar__sec1__title{
    color: #a435f0;
}
.navbar__sec2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__sec2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.navbar__sec2 input:focus{
    outline: none;
}
.navbar__sec3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}
.categories p{
    background-color: #a435f0;
    color: white;
    padding: 8px;
    border-radius: 30px;
}
.sale-img img{
    width: 100%;
}
.recomendings{
    padding: 10px;
}
.recomendings__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.course-card{
    width: 290px;  
}
.course-card img{
    width: 100%;
    height: 50%;
}
.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    
}
.topics__container p{
    padding: 10px;
    border: 2px solid grey;
    flex-grow: 1;
    flex-basis: 25%;
}
.topics__container p:hover{
    color: white;
    background-color: #a435f0;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 18px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 18px;
}